$green-light: #00AB61;
$green-dark: #007743;
// http://getbootstrap.com/css/#grid
$screen-xxs-max: 320px; // older mobile phones
$screen-xs-max: 767px; // mobile phone
$screen-sm-max: 991px; // tablet
$screen-md-max: 1199px; // laptop
$font-xxl: 42px;
$font-xl: 32px;
$font-lg: 24px;
$font-md: 18px;
$font-sm: 14px;
$font-xs: 11px;
$font-lato: Lato;
$font-lato-bold-weight: 700;
$font-lato-semibold-weight: 600;
$font-lato-normal-weight: 400;
$font-lato-light-weight: 300;