@import '../../styles/variables';

.sidebar {
  min-height: 100vh;
  background-color: $red-light;

  .link-color {
    color: $white !important;
  }

  ul {
    li:hover {
      background-color: $nutmeg;
    }
  }

  .selectedRoom {
    background-color: $nutmeg;
  }

  ul li a {
    margin: 9px 15px;
  }

  .username {
    font-size: 24px;
    color: $white;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;

    .login-time {
      margin-top: 2px;
      font-size: 12px;
    }
  }

  @media(max-width: 780px) {
    width: 115px;
  }
}